@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-logo">
    <span><b>İnsan Kaynakları</b> Paneli</span>
</div>
<div class="login-box ml-auto mr-auto">
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
          
            <p class="login-box-msg">Giriş Yap</p>

            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-4 ml-auto">
                        <button id="login-submit" type="submit" class="w-100 btn btn-primary">Gİriş Yap</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@*
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@