@using HumanResources.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Permit
@{

}

<div class="modal fade" id="editPermit" aria-labelledby="editPermitLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPermitLabel">İzin Kaydı Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Edit")">
                    @*<div class="form-group">
                        <label asp-for="EmployeeFullName"></label>
                        <input asp-for="EmployeeFullName" class="form-control" placeholder="Ali Kara">
                        <span asp-validation-for="EmployeeFullName" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="StartDate"></label>
                        <input asp-for="StartDate" class="form-control" placeholder="25" value="23">
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate"></label>
                        <input asp-for="EndDate" class="form-control" placeholder="Yazılım">
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <select asp-for="Type" asp-items="Html.GetEnumSelectList<PermitType>()" class="form-control">
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" data-save="modal">Kaydet</button>
            </div>
        </div>
    </div>
</div>