@using HumanResources.Enums
@*@model IEnumerable<HumanResources.Models.Employee>*@
@model IEnumerable<HumanResources.Models.EmployeePermitsViewModel>

@{
    ViewData["Title"] = "Index";
    int sequence = 1;
}

@section Styles
{@*
<link rel="stylesheet" href="~/css/zabuto_calendar.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.1.0/main.min.css">*@

<link rel="stylesheet" href="~/css/calendar.css" />
<link rel="stylesheet" href="~/css/site.css" />

}

<div id="place-holder-modal"></div>

<div class="col-12">
    <div class="card m-3">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title">İzin Listesi</h3>
                <div class="d-flex flex-row align-items-baseline">
                    <span class="mr-1">Tarih Filtrele: </span>
                    <div class="d-flex">
                        <div class="form-group mr-1 mb-0">
                            <select id="month-filter" asp-items="Html.GetEnumSelectList<Months>()" class="form-control">
                                <option selected="selected" value="" disabled>Ay</option>
                            </select>
                        </div>
                        <div class="form-group mb-0">
                            <select id="year-filter" class="form-control">
                                <option selected="selected" value="" disabled>Yıl</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>

                            </select>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#addPermit" data-url="@Url.Action("Create")">
                    <i class="bi bi-plus-circle"></i> İzin Ekle
                </button>

            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 70vh">
            @if (!Model.Any())
            {
                <span class="text-danger">Veri Yok</span>
            }
            else
            {
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Sıra
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeFullName)
                            </th>
                            <th>
                                Gün Çizelgesi
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @sequence

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeFullName)
                                </td>
                                <td>
                                    @*<div id="my-calendar-@item.Id" style="color: black"></div>*@ @* Zabuto*@
                                        
                                    <div id="calendar-@item.Id"></div>

                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#detailPermits"
                                    data-url="@Url.Action($"Detail/{item.Id}")">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                            </tr>

                            sequence++;

                        }
                    </tbody>
                </table>
            }

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

@section Scripts
{
    
    @*<script src="~/js/zabuto_calendar.min.js"></script>*@
    
    <script src="~/js/date_methods.js"></script>
    @*<script src="~/js/zabuto_calender_fetching_data.js"></script>*@

    <script src="~/js/custom-calendar.js"></script>
    <script src="~/js/custom-calendar-fetching-data.js"></script>


}


